html {
  font-size: 1em;
  background: url('https://source.unsplash.com/1920x1080/?music') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #FAFAFA;
}

* {
 box-sizing: border-box;
}

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}